@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .align-element {
    @apply mx-auto max-w-5xl px-8;
  }
}
html,
body {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 255, 255, 0.945);
}
main {
  flex-grow: 1;
}
@layer utilities {
  .animate-typing {
    animation: typing 3s steps(40, end), blink 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
